<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css2.css' %}">
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Teachers</h1>
<table>

    <tr>
        <td>Teacher First Name</td>
        <td>Teacher Last Name</td>
        <td>Teacher Office Details</td>
        <td>Teacher Phone</td>
        <td>Teacher Email</td>
    </tr>

{% for teacher in teacher_list %}
    <tr>
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.office_details }}</td>
        <td>{{ teacher.phone }}</td>
        <td>{{ teacher.email }}</td>
    </tr>

{% endfor %}

</table>
</body>
</html>
